# General statistics

* [Total views](#total-views)

In [22]:
from IPython.display import display, Markdown
from mfnf import MFNF

def md(text):
    display(Markdown(text))

df = MFNF().aggregate_pageviews()

## <span id="total-views">Total views (starting from 2016-01-01)</span>
### Total views of complete project

In [9]:
total_views = df["views"].sum()

md(f"**Total views: {total_views:,}**")

**Total views: 19,799,325**

## Total views per book

In [24]:
views_per_book = df[["book_name", "views"]].groupby("book_name").sum()
views_per_book.sort_values(by="views", inplace=True, ascending=False)
views_per_book["views"] = views_per_book["views"].apply(lambda x: f"{x:,}")
display(views_per_book)

                                   views
book_name
Analysis 1                    10,405,977
Grundlagen der Mathematik      5,527,625
Lineare Algebra 1              2,682,087
Real Analysis                    305,749
Mitmachen für (Nicht-)Freaks     146,101
Buchanfänge                       83,700
Maßtheorie                        81,887
Linear algebra                    64,126
Über das Projekt                  59,098
Measure theory                    18,858